<header>
    <nav>
        <ul>
            <li><a href="/" class="active">Home Page</a></li>
            <li><a href="/projects">Projects</a></li> <!-- Updated to route -->
            <li><a href="/designAR123">Design Artwork</a></li> <!-- Updated to route -->
        </ul>
    </nav>
</header>